.episode {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 25px 40px;
    padding: 10px;
    max-width: 360px;
    background-color: rgba(207, 211, 200, 0.1);
    position: relative;
}

.episode {
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(135deg, #9def00, #14D9E5) 1;
    clip-path: polygon(100% 0, 100% 61%, 90.5% 100%, 0 100%, 0 0);
}

.episode::after {
    content: "";
    position: absolute;
    bottom:0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 35px;
    border-color: transparent transparent #14D9E5 transparent;
}

.episode p {
    font-weight: 300;
    font-size: 24px;
    width: 340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.episode span {
    font-weight: 300;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .episode {
        padding: 10px;
        max-width: 155px;
        grid-template-columns: auto;
    }
    
    .episode {
        clip-path: polygon(100% 0, 100% 59%, 77% 100%, 0 100%, 0 0);
    }
    
    
    .episode p, .episode span {
        font-weight: 300;
        font-size: 20px;
        width: 135px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .episodes .slick-slider {
        width: 75vw;
        height: 60px;
    }
}