@font-face {
    font-family: TTT-eb;
    src: url(../Font/TTTravels-Bold.ttf);
}

@font-face {
    font-family: TTT-ieb;
    src: url(../Font/TTTravels-ExtraBoldItalic.ttf);
}

.hero {
    margin-bottom: 70px;
}

.hero h1 {
    font-size: 128px;
}

.white {
    font-family: TTT-ieb;
}

.green {
    font-family: TTT-eb;
    color:var(--green);
}

.portal {
    height: 120px;
    width: 175px;
    position: relative;
    top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.line-one, .line-two {
    display: flex;
}

.line-two {
    gap: 40px;
}

.line-one {
    gap: 10px;
}

.bottom {
    display: flex;
    width: 30vw;
    gap: 50px;
    margin-bottom: 100px;
}

.bottom .watch {
    font-size: 16px;
    width: 148px;
    height: 42px;
    background-image: linear-gradient(to right, var(--blue) 0%, var(--green) 100%);
    color: var(--font-color);
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.bottom p {
    color: var(--blue);
}

.bubble {
    position: absolute;
    top: 5px;
    left: 361px;
}

.pill {
    position: absolute;
    width: 35px;
    height: 5px;
    top: 150px;
    right: 536px;
}

.gun {
    position: absolute;
    top: 182px;
    right: 317px;
    height: 310px;
    width: 315px;
}

@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 64px;
    }
    .portal {
        height: 93px;
        width: 142px;
        position: relative;
        top: -22px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .bubble {
        position: absolute;
        top: 54px;
        left: -14px;
        height: 161px;
        width: 130px;
    }
    .pill {
        position: absolute;
        width: 19px;
        height: 5px;
        top: 128px;
        right: 63px;
    }
    
    .gun {
        position: absolute;
        top: 169px;
        right: -64px;
        height: 175px;
        width: 203px;
        overflow: hidden;
    }

    .bottom {
        display: grid;
        grid-template-rows: auto auto;
        width: 90vw;
        gap: 50px;
        margin-bottom: 100px;
    }

    .bottom>a {
        grid-row: 2 / 3 ;
    }
    .bottom>p {
        grid-row: 1 / 2 ;
    }

}