@font-face {
  font-family: TTT;
  src: url(./Font/TTTravels-Regular.ttf);
}

:root {
  --background: #191D29;
  --green: #9dfe00;
  --blue: #14d9e5;
  --font-color: white;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: TTT;
}

.home-page-bg {
  background-image: url('./assets/homepage/Background.png'),
  url('./assets/homepage/Spiral.png'), url('./assets/homepage/Star.png');
  background-position: top, bottom right, bottom;
  background-repeat: no-repeat;
}

.cast-details-bg {
  background-image: url('./assets/cast-details/Background.png'),
  url('./assets/cast-details/Star.png');
  background-repeat: no-repeat;
}

.characters-page-bg {
  background-image: url('./assets/cast/Background.png'),
  url('./assets/cast/Star.png');
  background-repeat: no-repeat;
}

body {
  background-color: var(--background);
  color: var(--font-color);
}

.slick-slider {
  width: 90vw;
  height: 60px;
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  display: none;
}

.slick-next:before, .slick-prev:before {
  font-size: 40px;
  line-height: 1;
  opacity: .75;
  color: #ffffff;
}

.slick-prev {
  left: -48px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}