@font-face {
  font-family: TTT;
  src: url(src\Font\TTTravels-Regular.ttf)
}

:root {
  --background: #191D29;
  --green: #9dfe00;
  --blue: #14d9e5;
  --font-color: white;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: TTT-light;
}

